@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('http://fonts.cdnfonts.com/css/60s-scoreboard');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
}
.scoreboard-container {
    background: #102B4E;
    width: 100%;
    height: 110vh;
}
.scoreboard-label {
    text-align: center;
    font-size: 25px;
    padding: 50px 0px 25px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

/* Start of Section 1 CSS */
.section-One {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: black;
    max-width: 325px;
    padding: 20px 0px 0px;
}
/* Start of 1st Content CSS */
.home-label {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}
#home-scores {
    color: green;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}
/* Start of 2nd Content CSS */
.time-label {
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: white;
}
#game-time {
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}
/* Start of 3rd Content CSS */
.guest-label {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}
#guest-scores {
    color: green;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}
.quarter-label {
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: white;
}
#game-quarter {
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}

/* Start of Section 2 CSS */
.section-Two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: black;
    padding: 0px 0px 20px;
    max-width: 325px;
}
/* Start of 4th Content CSS */
.foul-label {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 15px;
}
#home-fouls {
    color: green;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}
/* Start of 5th Content CSS */
#shotclock-time {
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}
.shotclock-label {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 20px;
}
/* Start of 6th Content CSS */
#guest-fouls {
    color: green;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 10px;
}

/* Start of Section 3 CSS */
.section-Three {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 325px;
}
.control-label {
    font-size: 25px;
    text-align: center;
    padding: 50px 0px 25px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}
button {
    padding: 1px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
}
button:hover { background-color: #FF7518;}

/* Start of Controls - CSS */
.heading-One {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: white;
}
.heading-Two {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}
.heading-Three {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}
.heading-Four {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}
/* Start of Section 4 - CSS */
.section-Four {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 350px;
    padding-top: 10px;
}
.heading-Five {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}
.heading-Six {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}
.heading-Seven {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}

/* Start of Section 5 Footer - CSS */
.section-Five {
    background-color: #F5F5F5;
    height: 100px;
    width: 100%;
}
.footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px 0px;
}
.socmedLinksFooter { 
    font-size: 25px; 
    cursor: pointer;
}
.fa-facebook { color: black; }
.fa-facebook:hover { color: #0C86EE;}
.fa-twitter { color: black;  }
.fa-twitter:hover { color: #179CF0;}
.fa-instagram { color: black; }
.fa-instagram:hover {
    background-image: linear-gradient(to right, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
}
.fa-github { color: black; }
.fa-github:hover { color: grey;}
.footerName {
    font-family: 'Courier New', Courier, monospace;
    color: #102B4E;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    .scoreboard-label {
        font-size: 35px;
        padding: 50px 0px 25px;
    }
    /* Start of Section 1 - CSS */
    .section-One {
        max-width: 450px;
    }
    /* Start of 1st Content CSS */
    .home-label {
        font-size: 30px; 
    }
    #home-scores {
        font-size: 40px;
    }
    /* Start of 2nd Content CSS */
    .time-label {
        font-size: 25px;
    }
    #game-time {
        font-size: 40px;
    }
    /* Start of 3rd Content CSS */
    .guest-label {
        font-size: 30px; 
    }
    #guest-scores {
        font-size: 40px;
    }
    .quarter-label {
        font-size: 30px;
    }
    #game-quarter {
        font-size: 45px;
    }
    /* Start of Section 2 CSS */
    .section-Two {
        max-width: 450px;
    }
    /* Start of 4th Content CSS */
    .foul-label {
        font-size: 25px;
    }
    #home-fouls {
        font-size: 45px;
    }
    /* Start of 5th Content CSS */
    #shotclock-time {
        font-size: 45px;
    }
    .shotclock-label {
        font-size: 25px;
    }
    /* Start of 6th Content CSS */
    #guest-fouls {
        font-size: 45px;
    }

    /* Start of Section 3 CSS */
    .section-Three {
        max-width: 450px;
    }
    .control-label {
        font-size: 35px;
        padding: 25px 0px 25px;
    }
    button {
        padding: 2px 15px;
        font-size: 20px;
    }
    /* Start of Controls - CSS */
    .heading-One {
        font-size: 20px;
    }
    .heading-Two {
        font-size: 15px;
    }
    .heading-Three {
        font-size: 15px;
    }
    .heading-Four {
        font-size: 20px;
    }
    /* Start of Section 4 - CSS */
    .section-Four {
        max-width: 500px;
    }
    .heading-Five {
        font-size: 15px;
    }
    .heading-Six {
        font-size: 15px;
    }
    .heading-Seven {
        font-size: 15px;
    }

  
}

@media only screen and (min-width: 1024px) {
    .scoreboard-subContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: auto;
    }
    .control-label {
        padding: 100px 0px 25px;
    }
}

@media only screen and (min-width: 1600px) {
    .scoreboard-subContainer {
        padding-top: 150px;
    }
}